/*----------------Main Starts--------------------- */

.body {
    height: 100%;
    position: relative;
}

.wrapper {
    min-height: 100vh;

    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
    
}

.footer {
    
    position: absolute;
        width: 100%;
    text-align: center;
    height:40px;

}


.container2 {
    padding-top: 20px;
}

/*----------------Main End--------------------- */
/*----------------Media Starts--------------------- */

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

.nav1{
    text-align:  right;
    font-size: 20px;
    
}

.col-lg {
    position: relative;
    min-height: 1px;
    padding-left: 150px;
    padding-right: 150px;
}
/*----------------Media Ends--------------------- */

/*----------------paragraphs Start--------------------- */

.main-paragraph-style {
    font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: #000000;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 30px;
}

.alternative-paragraph-style {
    font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: #000000;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
}



.second-header {
    font-family: fantasy;
    font-size: 40px;
    font-weight: 500;
    
}

.third-header-style {
    font-family: Georgia, fantasy;
    font-size: 30px;
    font-weight: 400;
    text-decoration: underline;
    font-style: italic
}

.lost-kingdom-style {
    font-family: sans-serif;
    color: #000000;
    font-size: 25px;
}



.main-header {
    text-align: center;
    text-decoration: underline;
    font-weight: 600;
    font-size: 50px;
   

}

/*----------------paragraphs End--------------------- */

/*----------------Images Start--------------------- */

.picture-home-page {
    background-position: center
}

.pictures-style {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   

}

.home-page-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    

}
/*----------------Images End--------------------- */

/*----------------Contact us Start--------------------- */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}


input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #45a049;
}
/*----------------Contact us End--------------------- */